  <section id="tab3" class="tab_content">
    <!--Images-->
    <div class="row">
      <div class="col s12 m6 l4 myImgs">
        <div class="card">
          <div class="card-image">
            <img src="<%= image_path('image05.jpeg') %>" class="materialboxed">
            <span class="card-title">멋쟁이사자처럼 5기 캠퍼스톤</span>
          </div>
          <div class="card-content">
            <p>가천대 1명, 동국대 1명과 '유니쿠폰' 개발</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 myImgs">
        <div class="card">
          <div class="card-image">
            <img src="<%= image_path('image06.jpeg') %>" class="materialboxed">
            <span class="card-title">멋쟁이사자처럼 5기 캠퍼스톤</span>
          </div>
          <div class="card-content">
            <p>동국대학교에서 주최한 캠퍼스톤</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 myImgs">
        <div class="card">
          <div class="card-image">
            <img src="<%= image_path('image08.jpeg') %>" class="materialboxed">
            <span class="card-title">꿈NUM꿈 대학생 토크콘서트</span>
          </div>
          <div class="card-content">
            <p>멘토링에 참여한 여러 학교의 멋사멤버들</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 myImgs">
        <div class="card">
          <div class="card-image">
            <img src="<%= image_path('image09.jpeg') %>" class="materialboxed">
            <span class="card-title">꿈NUM꿈 대학생 토크콘서트</span>
          </div>
          <div class="card-content">
            <p>1팀 멘토 김상민!!!</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 myImgs">
        <div class="card">
          <div class="card-image">
            <img src="<%= image_path('image01.jpeg') %>" class="materialboxed">
            <span class="card-title">멋쟁이사자처럼 5기 해커톤</span>
          </div>
          <div class="card-content">
            <p>LIKELION 5기 대표 김상민</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 myImgs">
        <div class="card">
          <div class="card-image">
            <img src="<%= image_path('image02.jpeg') %>" class="materialboxed">
            <span class="card-title">멋쟁이사자처럼 5기 해커톤</span>
          </div>
          <div class="card-content">
            <p>국민대학교 멋사 5기 단체샷</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 myImgs">
        <div class="card">
          <div class="card-image">
            <img src="<%= image_path('image03.jpeg') %>" class="materialboxed">
            <span class="card-title">멋쟁이사자처럼 4기 해커톤</span>
          </div>
          <div class="card-content">
            <p>국민대학교 멋사 4기 단체샷(feat.이두희 대장님)</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 myImgs">
        <div class="card">
          <div class="card-image">
            <img src="<%= image_path('image04.jpeg') %>" class="materialboxed">
            <span class="card-title">멋쟁이사자처럼 4기 하프톤</span>
          </div>
          <div class="card-content">
            <p>국민대학교 4기 멤버들과 '하비쉐어' 개발</p>
          </div>
        </div>
      </div>
    </div>
  </section>