<!DOCTYPE html>
<html>
  <head>
    <title>민스웹</title>
    <meta charset="utf-8">
    <meta property="og:title" content="민스웹(Minsweb)">
    <meta property="og:description" content="김상민 개인 홈페이지">
    <meta property="og:type" content="article">
    <meta property="og:image" content="<%= image_path('thumbnail.png') %>">
    <link rel="stylesheet" href="/assets/style.scss">
    <%#= stylesheet_link_tag    'application', media: 'all' %>
    <%#= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <!--반응형 웹디자인-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Jquery CDN-->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- Materialize CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Masonry CDN-->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  </head>
  <body>
      <!--window loading-->
      <div id="loading">
        <img id="loading-image" src="<%= image_path('loading.gif') %>" alt="Loading..." />
      </div>
      <!--출처: http://hunit.tistory.com/309 [HunIT Blog]-->
      
      <%= render "home/header" %>
      
      <%= yield %>

      <%= render "home/footer" %>
  
    <script>
    //loading javascript
      $(window).ready(function() {    
        $('#loading').fadeOut();  
      });

      $(".button-collapse").sideNav();
     
    //nav바 메뉴탭 이동
    	$(function(){
        var menu = $('.menu ul li a');
        menu.on('click', function(){
          $('.menu a.selected').removeClass('selected');
          $(this).addClass('selected');
        });

        $('.menu ul li a').on('click', function(){  
          $('.menu ul li a').removeClass('active');
				  $('.tab_content').removeClass('active');
			  	$(this).addClass('active');
			  	
          var activeTab = $(this).attr("data-tab");
          $('#' + activeTab).addClass('active');
          return false;
        });
    	});
    	//typing and erasing title
      var TxtRotate = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
      };
      
      TxtRotate.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];
      
        if (this.isDeleting) {
          this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
          this.txt = fullTxt.substring(0, this.txt.length + 1);
        }
      
        this.el.innerHTML = '<span class="wrap">'+'&ensp;'+this.txt+'</span>';
      
        var that = this;
        var delta = 200 - Math.random() * 100;
      
        if (this.isDeleting) { delta /= 2; }
      
        if (!this.isDeleting && this.txt === fullTxt) {
          delta = this.period;
          this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
          this.isDeleting = false;
          this.loopNum++;
          delta = 500;
        }
      
        setTimeout(function() {
          that.tick();
        }, delta);
      };
      
      window.onload = function() {
        var elements = document.getElementsByClassName('txt-rotate');
        for (var i=0; i<elements.length; i++) {
          var toRotate = elements[i].getAttribute('data-rotate');
          var period = elements[i].getAttribute('data-period');
          if (toRotate) {
            new TxtRotate(elements[i], JSON.parse(toRotate), period);
          }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
        document.body.appendChild(css);
      };
      
      // modal
      $(document).ready(function(){
        $('.materialboxed').materialbox();
      });

      // mobile navbar
      $('#menuicon').on('click', function(event) {
        event.preventDefault();
        $(this).toggleClass('active');
        $('.menulist').slideToggle("fast");
      });
    </script>
  </body>
</html>
